<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Help</title>
	<link rel="icon" href="/imgs/weather.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	{{!-- to watch for changes in hbs file along with js file we have to type 
	nodemon src/app.js -e js,hbs --}}
	<div class="main-content">
		{{>header}}
		<p>{{message}}</p>
	</div>

	{{>footer}}

</body>
</html>