<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weather</title>
	<link rel="icon" href="/imgs/weather.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>Use this site to get your weather</p>
		<form>
			<input type="text" name="location" placeholder="type a locatio here">
			<button>Search</button>
		</form>
		<div class="weather-data">
			
		</div>
	</div>

	{{>footer}}
	<script src="/scripts/app.js"></script>
</body>
</html>